*.[oa]
minidlna
.built*
.configured_*
.dep_files
.prepared_*
ipkg-*
testupnpdescgen
config.h
config.mk
/Makefile
config.log
config.status
minidlnad
.deps
.dirstamp
po/Makefile
po/Makefile.in
po/POTFILES
linux/minidlna.init.d.script
stamp-*
config.guess
config.sub
